.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  cursor: pointer;
  color: #333;
}

.github a:visited {
  color: #333;
}
